@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

.site-header {
  background-color: #ffc107;
  padding: 10px;
  line-height: 100px;
  text-align: center;
  width: auto;
  height: 60%;
  padding: 10px;
}

#parent {
  text-align: center;
  margin-top: 10%;
  border-right: solid 3px #79787c;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-size: 25px;
}

.containerheader {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 22px;
}

* {
  align-items: baseline;
  vertical-align: baseline;
  align-self: baseline;
}

.github {
  background: #000000;
}
.cardBox {
  perspective: 500px;
  margin: 15px;
}
.card {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgb(0, 0, 0);
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}
.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .front {
  font-size: 40px;
}
.card .back {
  font-size: 25px;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}
.card .back {
  transform: rotateY(180deg);
}

.img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
