@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  align-items: baseline;
  align-items: baseline;
  vertical-align: baseline;
  align-self: baseline;
}
.site-footer {
  background-color: #424242;
  padding: 5px;
  font-size: 15px;
  line-height: 24px;
  color: #424242;
  text-align: center;
  margin-top: 5%;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  border-top-color: #79787c;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.footer-links {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-top: 0%;
}

.footer-links a {
  display: inline-block;
  text-align: center;
  color: #79787c;
}
.footer-links li {
  display: inline-block;
  text-align: center;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #ffc107;
  text-decoration: none;
}
.about-container {
  color: #ffc107;
}

.copyright-container {
  color: #79787c;
}

.copyright-container {
  margin: 0;
  text-align: center;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer {
    text-align: center;
  }
}
