@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  align-items: baseline;
  align-items: baseline;
  vertical-align: baseline;
  align-self: baseline;
}

hr {
  margin: 5px;
  background-color: #79787c;
  align-self: auto;
}
.button {
  font-family: "Roboto", sans-serif;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;
  height: auto;
}

.cv {
  background-color: #ffc107;
  color: black;
  border: 2px solid #000000;
  margin-top: 50%;
  align-items: center;
  margin-right: 25%;
  margin-left: 25%;
  width: auto;
  height: auto;
}

.cv:hover {
  background-color: #555555;
  width: auto;
  height: auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 100px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.workContent {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  align-items: baseline;
  text-align: center;
  color: #ffc107;
  background-color: #424242;
  margin-bottom: px;
  margin-top: 5px;
  height: auto;
  font-size: 20px;
}
