#content{

 border: 3px solid rgb(76, 0, 255);

 margin-left: auto;


 height: fit-content;
 width: fit-content;
 

}

* {
    align-items: baseline;
    vertical-align: baseline;
    align-self: baseline;
  

    }